/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #0f135c;
  background-image: url('../../static//img//banner_bg.png');
}
.max {
  width: 1200px;
  position: relative;
}
.navCntainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #262b6b;
  z-index: 1;
}
.navCntainerMax {
  height: 80px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav {
  height: 100%;
  display: flex;
  gap: 44px;
  align-items: center;
  position: relative;
}
.nav a {
  font-size: 18px;
  color: #fff;
}
.active {
  font-weight: 500;
}
.active::before {
  content: ' ';
  height: 4px;
  width: 32px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 2px;
}
.banner-block {
  position: absolute;
  top: 104px;
  right: 64px;
  width: 442px;
}
.title {
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  margin-top: 192px;
  line-height: 52px;
}
.description {
  width: 600px;
  font-size: 16px;
  color: #fff;
  margin-top: 24px;
}
.buttons {
  margin-top: 56px;
  display: flex;
  gap: 16px;
}
.button {
  width: 148px;
  height: 48px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button:hover {
  filter: brightness(1.1);
}
.button-primary {
  background-color: #304ffe;
  color: #fff;
}
.button-dash {
  position: relative;
  color: #fff;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 2552, 255, 0.1);
}
.button-dash:hover {
  background-color: rgba(255, 2552, 255, 0.2);
}

.introduction {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 898px;
}
.introductionMax {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}
.intro-title {
  margin-top: 72px;
  font-weight: 600;
  font-size: 40px;
  color: #141736;
}
.intro-description {
  color: #737b96;
  font-size: 16px;
  margin-top: 24px;
}
.intro-img {
  margin-top: 48px;
  z-index: 1;
  width: 1072px;
}
.intro-bg {
  position: absolute;
  right: 0;
  bottom: 6px;
}

.function {
  background-color: rgba(234, 241, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
}
.functionMax {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-functions {
  display: flex;
  gap: 24px;
  margin-top: 96px;
}
.func-item {
  width: 282px;
  height: 270px;
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  position: relative;
}
.func-icon {
  position: absolute;
  top: 48px;
  width: 96px;
}
.func-title {
  position: absolute;
  font-weight: 600;
  color: #141736;
  font-size: 24px;
  top: 168px;
  left: calc(50% - 48px);
  transition: all 0.4s cubic-bezier(0, 0.88, 0.88, 1);
}
.func-item-2 .func-title {
  left: calc(50% - 60px);
}
.func-title::after {
  content: ' ';
  width: 24px;
  height: 4px;
  background-color: #304ffe;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 12px);
  transition: all 0.2s ease-in-out;
}
.func-item:hover {
  transform: scale(1.17);
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  z-index: 1;
  box-shadow: 0 8px 16px rgba(48, 79, 254, 0.3);
}
.func-item:hover .func-title {
  top: 40px;
  left: 44px;
  color: #fff;
}
.func-item:hover .func-title::after {
  left: 0px;
  background-color: #fff;
}
.func-item:hover .func-icon {
  display: none;
}
.func-item::before {
  color: #fff;
  opacity: 0;
}
.func-item-0::before {
  content: '服务的构建与部署均可一键化操作，开发的流程操作可视化，操作简单易用，能迅速上手满足大数据开发需求。';
}
.func-item-1::before {
  content: '关注并聚焦于数据的全链路生命周期，从数据的生产、上线、使用、监控和下线等全方位予以关注，赋予数据资产生命。';
}
.func-item-2::before {
  content: '紧密贴合大数据生态，兼容并拥抱当前主流大数据技术。提供Sql/Spark/Python/Shell/Kylin等多种任务类型，提供基于Presto/Doris/Kylin等多种计算引擎的统一数据服务。';
}
.func-item-3::before {
  content: '通过界面化的配置实现与第三方系统的对接，集成第三方系统所需信息并通过API方式提供，实现系统的高扩展性。';
}
.func-item:hover::before {
  position: absolute;
  top: 105px;
  left: 44px;
  color: #fff;
  width: 202px;
  font-size: 14px;
  opacity: 1;
}
.func-item-0:hover {
  background-image: url('../../static//img/func-easy-hover.png');
  background-size: 100% 100%;
}
.func-item-1:hover {
  background-image: url('../../static//img/func-manage-hover.png');
  background-size: 100% 100%;
}
.func-item-2:hover {
  background-image: url('../../static//img/func-diverse-hover.png');
  background-size: 100% 100%;
}
.func-item-3:hover {
  background-image: url('../../static//img/func-extend-hover.png');
  background-size: 100% 100%;
}

.footer {
  height: 96px;
  background-color: #5b5b70;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}
